In [1]:
import numpy as np
import pandas as pd
import zipfile
import gc
gc.enable()

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
train = "order_products__train"
products = 'products'
departments = 'departments'
aisles = 'aisles'
prior= "order_products__prior"
orders='orders'
path="/content/drive/MyDrive/Data_btp2/"
orders = zipfile.ZipFile(path+orders+".zip","r")
products = zipfile.ZipFile(path+products+".zip","r")
departments = zipfile.ZipFile(path+departments+".zip","r")
aisles = zipfile.ZipFile(path+aisles+".zip","r")
train = zipfile.ZipFile(path+train+".zip","r")
prior=zipfile.ZipFile(path+prior+".zip","r")

In [7]:
train = pd.read_csv(train.open('order_products__train.csv'))
prior =pd.read_csv(prior.open('order_products__prior.csv'))
products = pd.read_csv(products.open('products.csv'), usecols=['product_id', 'aisle_id', 'department_id'])
departments = pd.read_csv(departments.open('departments.csv'))
aisles = pd.read_csv(aisles.open('aisles.csv'))
orders = pd.read_csv(orders.open('orders.csv'))

In [8]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB

In [9]:
orders.eval_set = orders.eval_set.replace({'prior': 0, 'train': 1, 'test':2})
orders.days_since_prior_order = orders.days_since_prior_order.fillna(30)

In [10]:
prior_orders = pd.merge(orders,prior, on='order_id', how='inner')
prior_orders.head()

   order_id  user_id  eval_set  ...  product_id  add_to_cart_order  reordered
0   2539329        1         0  ...         196                  1          0
1   2539329        1         0  ...       14084                  2          0
2   2539329        1         0  ...       12427                  3          0
3   2539329        1         0  ...       26088                  4          0
4   2539329        1         0  ...       26405                  5          0

[5 rows x 10 columns]

In [11]:
del prior
gc.collect()

11

In [12]:
users = prior_orders.groupby(by='user_id')['order_number'].aggregate('max').to_frame('u_num_of_orders').reset_index()
users.head()

   user_id  u_num_of_orders
0        1               10
1        2               14
2        3               12
3        4                5
4        5                4

In [13]:
total_prd_per_order = prior_orders.groupby(by=['user_id', 'order_id'])['product_id'].aggregate('count').to_frame('total_products_per_order').reset_index()

In [14]:
avg_products = total_prd_per_order.groupby(by=['user_id'])['total_products_per_order'].mean().to_frame('u_avg_prd').reset_index()
avg_products.head()

   user_id  u_avg_prd
0        1   5.900000
1        2  13.928571
2        3   7.333333
3        4   3.600000
4        5   9.250000

In [15]:
del [total_prd_per_order]
gc.collect()

avg_products.head()

   user_id  u_avg_prd
0        1   5.900000
1        2  13.928571
2        3   7.333333
3        4   3.600000
4        5   9.250000

In [16]:
avg_products.head()

   user_id  u_avg_prd
0        1   5.900000
1        2  13.928571
2        3   7.333333
3        4   3.600000
4        5   9.250000

In [17]:
from scipy import stats

dow = prior_orders.groupby(by=['user_id'])['order_dow'].aggregate(lambda x : stats.mode(x)[0]).to_frame('dow_u_most_orders')

dow = dow.reset_index()
dow.head()

   user_id  dow_u_most_orders
0        1                  4
1        2                  2
2        3                  0
3        4                  4
4        5                  3

In [18]:
hod = prior_orders.groupby(by=['user_id'])['order_hour_of_day'].aggregate(lambda x : stats.mode(x)[0]).to_frame('hod_u_most_orders')
#resetting the index
hod = hod.reset_index()
hod.head()

   user_id  hod_u_most_orders
0        1                  7
1        2                  9
2        3                 16
3        4                 15
4        5                 18

In [19]:
reorder_u = prior_orders.groupby(by='user_id')['reordered'].aggregate('mean').to_frame('u_reorder_ratio').reset_index()
#changing the dtype.
reorder_u['u_reorder_ratio'] = reorder_u['u_reorder_ratio'].astype(np.float16)
reorder_u.head()

   user_id  u_reorder_ratio
0        1         0.694824
1        2         0.476807
2        3         0.625000
3        4         0.055542
4        5         0.378418

In [20]:
prior_orders.days_since_prior_order.fillna(0, inplace=True)

In [21]:
avg_days = prior_orders.groupby(by='user_id')['days_since_prior_order'].aggregate('mean').to_frame('average_days_between_orders')
#resetting index
avg_days = avg_days.reset_index()
avg_days.head()

   user_id  average_days_between_orders
0        1                    21.084746
1        2                    16.902564
2        3                    13.590909
3        4                    18.611111
4        5                    19.108108

In [22]:
total_item = prior_orders.groupby(by='user_id').size().to_frame('u_total_items_bought').astype(np.int16)
total_item.head()

         u_total_items_bought
user_id
1                          59
2                         195
3                          88
4                          18
5                          37

In [23]:
users = users.merge(avg_products, on='user_id', how='left')
#merging users df with dow
users = users.merge(dow, on='user_id', how='left')
#merging users df with hod
users = users.merge(hod, on='user_id', how='left')
#merging users df with reorder_u
users = users.merge(reorder_u, on='user_id', how='left')
#merging users df with avg_days
users = users.merge(avg_days, on='user_id', how='left')
#merging total_item df with reorder_u
users = users.merge(total_item, on='user_id', how='left')

users.head()

   user_id  u_num_of_orders  ...  average_days_between_orders  u_total_items_bought
0        1               10  ...                    21.084746                    59
1        2               14  ...                    16.902564                   195
2        3               12  ...                    13.590909                    88
3        4                5  ...                    18.611111                    18
4        5                4  ...                    19.108108                    37

[5 rows x 8 columns]

In [24]:
del [reorder_u, dow, hod, avg_products, avg_days, total_item]
gc.collect()

24

In [25]:
prd = prior_orders.groupby(by='product_id')['order_id'].aggregate('count').to_frame('p_num_of_times').reset_index()
# prd['p_num_of_times'] = prd['p_num_of_times'].astype(np.uint16)
prd.head()

   product_id  p_num_of_times
0           1            1852
1           2              90
2           3             277
3           4             329
4           5              15

In [26]:
reorder_p = prior_orders.groupby(by='product_id')['reordered'].aggregate('mean').to_frame('p_reorder_ratio').reset_index()
# #changing dtype
# reorder_p['p_reorder_ratio'] = reorder_p['p_reorder_ratio'].astype(np.float16)
reorder_p.head()

   product_id  p_reorder_ratio
0           1         0.613391
1           2         0.133333
2           3         0.732852
3           4         0.446809
4           5         0.600000

In [27]:
add_to_cart = prior_orders.groupby(by='product_id')['add_to_cart_order'].aggregate('mean').to_frame('p_avg_cart_position').reset_index()
# #changing the dtype
# add_to_cart['p_avg_cart_position'] = add_to_cart['p_avg_cart_position'].astype(np.float16)
add_to_cart.head()

   product_id  p_avg_cart_position
0           1             5.801836
1           2             9.888889
2           3             6.415162
3           4             9.507599
4           5             6.466667

In [28]:
prd = prd.merge(reorder_p, on='product_id', how='left')

#merging add_to_cart with prd.
prd = prd.merge(add_to_cart, on='product_id', how='left')

#deleting unwanted df.
del [reorder_p, add_to_cart]
gc.collect()

36

In [29]:
prd.head()

   product_id  p_num_of_times  p_reorder_ratio  p_avg_cart_position
0           1            1852         0.613391             5.801836
1           2              90         0.133333             9.888889
2           3             277         0.732852             6.415162
3           4             329         0.446809             9.507599
4           5              15         0.600000             6.466667

In [30]:
uxp = prior_orders.groupby(by=['user_id', 'product_id'])['order_id'].aggregate('count').to_frame('uxp_times_bought')
uxp=uxp.reset_index()
uxp.head()

   user_id  product_id  uxp_times_bought
0        1         196                10
1        1       10258                 9
2        1       10326                 1
3        1       12427                10
4        1       13032                 3

In [31]:
times=prior_orders.groupby(by=['user_id','product_id'])['order_id'].aggregate('count').to_frame('times_bought')
times=times.reset_index()
times.head()

   user_id  product_id  times_bought
0        1         196            10
1        1       10258             9
2        1       10326             1
3        1       12427            10
4        1       13032             3

In [32]:
total_orders=prior_orders.groupby('user_id')['order_number'].max().to_frame('total_orders').reset_index()
total_orders.head()

   user_id  total_orders
0        1            10
1        2            14
2        3            12
3        4             5
4        5             4

In [33]:
first_order_num=prior_orders.groupby(by=['user_id','product_id'])['order_number'].aggregate('min').to_frame('first_order_num')
first_order_num=first_order_num.reset_index()
first_order_num.head()

   user_id  product_id  first_order_num
0        1         196                1
1        1       10258                2
2        1       10326                5
3        1       12427                1
4        1       13032                2

In [34]:
span = pd.merge(total_orders, first_order_num, on='user_id', how='right')
span.head()

   user_id  total_orders  product_id  first_order_num
0        1            10         196                1
1        1            10       10258                2
2        1            10       10326                5
3        1            10       12427                1
4        1            10       13032                2

In [35]:
span['Order_Range_D'] = span.total_orders - span.first_order_num + 1
span.head()

   user_id  total_orders  product_id  first_order_num  Order_Range_D
0        1            10         196                1             10
1        1            10       10258                2              9
2        1            10       10326                5              6
3        1            10       12427                1             10
4        1            10       13032                2              9

In [36]:
uxp_ratio = pd.merge(times, span, on=['user_id', 'product_id'], how='left')
uxp_ratio.head()

   user_id  product_id  ...  first_order_num  Order_Range_D
0        1         196  ...                1             10
1        1       10258  ...                2              9
2        1       10326  ...                5              6
3        1       12427  ...                1             10
4        1       13032  ...                2              9

[5 rows x 6 columns]

In [37]:
uxp_ratio['uxp_reorder_ratio'] = uxp_ratio.times_bought / uxp_ratio.Order_Range_D
uxp_ratio.head()

   user_id  product_id  ...  Order_Range_D  uxp_reorder_ratio
0        1         196  ...             10           1.000000
1        1       10258  ...              9           1.000000
2        1       10326  ...              6           0.166667
3        1       12427  ...             10           1.000000
4        1       13032  ...              9           0.333333

[5 rows x 7 columns]

In [38]:
uxp_ratio.drop(['times_bought', 'total_orders', 'first_order_num', 'Order_Range_D'], axis=1, inplace=True)
uxp_ratio.head()

   user_id  product_id  uxp_reorder_ratio
0        1         196           1.000000
1        1       10258           1.000000
2        1       10326           0.166667
3        1       12427           1.000000
4        1       13032           0.333333

In [39]:
del [times, span, first_order_num, total_orders]
gc.collect()

12

In [40]:
uxp = uxp.merge(uxp_ratio, on=['user_id', 'product_id'], how='left')
del uxp_ratio
gc.collect()

0

In [41]:
uxp.head()

   user_id  product_id  uxp_times_bought  uxp_reorder_ratio
0        1         196                10           1.000000
1        1       10258                 9           1.000000
2        1       10326                 1           0.166667
3        1       12427                10           1.000000
4        1       13032                 3           0.333333

In [42]:
prior_orders['order_number_back'] = prior_orders.groupby(by=['user_id'])['order_number'].transform(max) - prior_orders.order_number + 1
prior_orders.head()

   order_id  user_id  eval_set  ...  add_to_cart_order  reordered  order_number_back
0   2539329        1         0  ...                  1          0                 10
1   2539329        1         0  ...                  2          0                 10
2   2539329        1         0  ...                  3          0                 10
3   2539329        1         0  ...                  4          0                 10
4   2539329        1         0  ...                  5          0                 10

[5 rows x 11 columns]

In [43]:
temp = prior_orders.loc[prior_orders.order_number_back <= 5]
temp.head()

    order_id  user_id  ...  reordered  order_number_back
29   3367565        1  ...          1                  5
30   3367565        1  ...          1                  5
31   3367565        1  ...          1                  5
32   3367565        1  ...          1                  5
33    550135        1  ...          1                  4

[5 rows x 11 columns]

In [44]:
last_five = temp.groupby(by=['user_id', 'product_id'])['order_id'].aggregate('count').to_frame('uxp_last_five').reset_index()
last_five.head()

   user_id  product_id  uxp_last_five
0        1         196              5
1        1       10258              5
2        1       12427              5
3        1       13032              2
4        1       25133              5

In [45]:
last_five['uxp_ratio_last_five'] = last_five.uxp_last_five / 5.0
last_five.head()

   user_id  product_id  uxp_last_five  uxp_ratio_last_five
0        1         196              5                  1.0
1        1       10258              5                  1.0
2        1       12427              5                  1.0
3        1       13032              2                  0.4
4        1       25133              5                  1.0

In [46]:
uxp = uxp.merge(last_five, on=['user_id', 'product_id'], how='left')

del [last_five, temp]
gc.collect()
uxp.head()

   user_id  product_id  ...  uxp_last_five  uxp_ratio_last_five
0        1         196  ...            5.0                  1.0
1        1       10258  ...            5.0                  1.0
2        1       10326  ...            NaN                  NaN
3        1       12427  ...            5.0                  1.0
4        1       13032  ...            2.0                  0.4

[5 rows x 6 columns]

In [47]:
uxp.fillna(0, inplace=True)
uxp.head(10)

   user_id  product_id  ...  uxp_last_five  uxp_ratio_last_five
0        1         196  ...            5.0                  1.0
1        1       10258  ...            5.0                  1.0
2        1       10326  ...            0.0                  0.0
3        1       12427  ...            5.0                  1.0
4        1       13032  ...            2.0                  0.4
5        1       13176  ...            0.0                  0.0
6        1       14084  ...            0.0                  0.0
7        1       17122  ...            0.0                  0.0
8        1       25133  ...            5.0                  1.0
9        1       26088  ...            0.0                  0.0

[10 rows x 6 columns]

In [48]:
uxp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13307953 entries, 0 to 13307952
Data columns (total 6 columns):
 #   Column               Dtype
---  ------               -----
 0   user_id              int64
 1   product_id           int64
 2   uxp_times_bought     int64
 3   uxp_reorder_ratio    float64
 4   uxp_last_five        float64
 5   uxp_ratio_last_five  float64
dtypes: float64(3), int64(3)
memory usage: 710.7 MB

In [49]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 206209 entries, 0 to 206208
Data columns (total 8 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   user_id                      206209 non-null  int64
 1   u_num_of_orders              206209 non-null  int64
 2   u_avg_prd                    206209 non-null  float64
 3   dow_u_most_orders            206209 non-null  int64
 4   hod_u_most_orders            206209 non-null  int64
 5   u_reorder_ratio              206209 non-null  float16
 6   average_days_between_orders  206209 non-null  float64
 7   u_total_items_bought         206209 non-null  int16
dtypes: float16(1), float64(2), int16(1), int64(4)
memory usage: 11.8 MB

In [50]:
prd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49677 entries, 0 to 49676
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   product_id           49677 non-null  int64
 1   p_num_of_times       49677 non-null  int64
 2   p_reorder_ratio      49677 non-null  float64
 3   p_avg_cart_position  49677 non-null  float64
dtypes: float64(2), int64(2)
memory usage: 1.9 MB

In [51]:
uxp.to_csv("uxp.csv",index=False)

In [52]:
users.to_csv("users.csv",index=False)
prd.to_csv("prd.csv",index=False)

In [1]:
# Restart session

In [2]:
import numpy as np
import pandas as pd
import zipfile
import gc
gc.enable()

In [3]:
uxp=pd.read_csv("uxp.csv")
users=pd.read_csv("users.csv")
prd=pd.read_csv("prd.csv")

In [4]:
data = uxp.merge(users, on='user_id', how='left')
data.head()

   user_id  product_id  ...  average_days_between_orders  u_total_items_bought
0        1         196  ...                    21.084746                    59
1        1       10258  ...                    21.084746                    59
2        1       10326  ...                    21.084746                    59
3        1       12427  ...                    21.084746                    59
4        1       13032  ...                    21.084746                    59

[5 rows x 13 columns]

In [5]:
data = data.merge(prd, on='product_id', how='left')
data.head()

   user_id  product_id  ...  p_reorder_ratio  p_avg_cart_position
0        1         196  ...         0.776480             3.721774
1        1       10258  ...         0.713772             4.277492
2        1       10326  ...         0.652009             4.191097
3        1       12427  ...         0.740735             4.760037
4        1       13032  ...         0.657158             5.622767

[5 rows x 16 columns]

In [6]:
data.shape

(13307953, 16)

In [7]:
del [users, prd, uxp]
gc.collect()

23

In [8]:
data.to_csv("data.csv",index=False)

In [1]:
# Restart runtime
import numpy as np
import pandas as pd
import zipfile
import gc
gc.enable()

In [2]:
data=pd.read_csv("data.csv")

In [3]:
train = "order_products__train"
orders='orders'
path="/content/drive/MyDrive/Data_btp2/"
orders = zipfile.ZipFile(path+orders+".zip","r")
train = zipfile.ZipFile(path+train+".zip","r")
train = pd.read_csv(train.open('order_products__train.csv'))
orders = pd.read_csv(orders.open('orders.csv'))
orders.eval_set = orders.eval_set.replace({'prior': 0, 'train': 1, 'test':2})
orders.days_since_prior_order = orders.days_since_prior_order.fillna(30)

In [4]:
orders_future = orders.loc[((orders.eval_set == 1) | (orders.eval_set == 2)), ['user_id', 'eval_set', 'order_id']]
orders_future.head()

    user_id  eval_set  order_id
10        1         1   1187899
25        2         1   1492625
38        3         2   2774568
44        4         2    329954
49        5         1   2196797

In [5]:
data = data.merge(orders_future, on='user_id', how='left')
data.tail()

          user_id  product_id  ...  eval_set  order_id
13307948   206209       43961  ...         1    272231
13307949   206209       44325  ...         1    272231
13307950   206209       48370  ...         1    272231
13307951   206209       48697  ...         1    272231
13307952   206209       48742  ...         1    272231

[5 rows x 18 columns]

In [6]:
data_train = data[data.eval_set == 1]
data_train.head()

   user_id  product_id  ...  eval_set  order_id
0        1         196  ...         1   1187899
1        1       10258  ...         1   1187899
2        1       10326  ...         1   1187899
3        1       12427  ...         1   1187899
4        1       13032  ...         1   1187899

[5 rows x 18 columns]

In [7]:
data_train = data_train.merge(train[['product_id', 'order_id', 'reordered']], on=['product_id', 'order_id'], how='left')
data_train.head()

   user_id  product_id  uxp_times_bought  ...  eval_set  order_id  reordered
0        1         196                10  ...         1   1187899        1.0
1        1       10258                 9  ...         1   1187899        1.0
2        1       10326                 1  ...         1   1187899        NaN
3        1       12427                10  ...         1   1187899        NaN
4        1       13032                 3  ...         1   1187899        1.0

[5 rows x 19 columns]

In [8]:
data_train.reordered.fillna(0, inplace=True)

In [9]:
data_train.drop(['eval_set', 'order_id'], axis=1, inplace=True)

In [10]:
data_train.head()

   user_id  product_id  ...  p_avg_cart_position  reordered
0        1         196  ...             3.721774        1.0
1        1       10258  ...             4.277492        1.0
2        1       10326  ...             4.191097        0.0
3        1       12427  ...             4.760037        0.0
4        1       13032  ...             5.622767        1.0

[5 rows x 17 columns]

In [11]:
data_test = data[data.eval_set == 2]
data_test.head()

     user_id  product_id  ...  eval_set  order_id
120        3         248  ...         2   2774568
121        3        1005  ...         2   2774568
122        3        1819  ...         2   2774568
123        3        7503  ...         2   2774568
124        3        8021  ...         2   2774568

[5 rows x 18 columns]

In [12]:
data_test.drop(['eval_set', 'order_id'], axis=1, inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [13]:
data_train.shape, data_test.shape

((8474661, 17), (4833292, 16))

In [14]:
data_train.to_csv("data_train.csv",index=False)
data_test.to_csv("data_test.csv",index=False)

In [1]:
# Restart runtime
import numpy as np
import pandas as pd
import zipfile
import gc
gc.enable()

In [2]:
data_train=pd.read_csv("data_train.csv")
data_test=pd.read_csv("data_test.csv")

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
products = 'products'
path="/content/drive/MyDrive/Data_btp2/"
products = zipfile.ZipFile(path+products+".zip","r")
products = pd.read_csv(products.open('products.csv'), usecols=['product_id', 'aisle_id', 'department_id'])

In [5]:
data_train = data_train.merge(products, on='product_id', how='left')
data_test = data_test.merge(products, on='product_id', how='left')

In [6]:
data_train = data_train.set_index(['user_id', 'product_id'])
data_test = data_test.set_index(['user_id', 'product_id'])

In [7]:
columns_mean = ['aisle_id', 'department_id']
for col in columns_mean:
        mean = data_train.groupby(col).reordered.mean()
        data_train[col] = data_train[col].map(mean)
        data_test[col] = data_test[col].map(mean)

In [8]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 8474661 entries, (1, 196) to (206209, 48742)
Data columns (total 17 columns):
 #   Column                       Dtype
---  ------                       -----
 0   uxp_times_bought             int64
 1   uxp_reorder_ratio            float64
 2   uxp_last_five                float64
 3   uxp_ratio_last_five          float64
 4   u_num_of_orders              int64
 5   u_avg_prd                    float64
 6   dow_u_most_orders            int64
 7   hod_u_most_orders            int64
 8   u_reorder_ratio              float64
 9   average_days_between_orders  float64
 10  u_total_items_bought         int64
 11  p_num_of_times               int64
 12  p_reorder_ratio              float64
 13  p_avg_cart_position          float64
 14  reordered                    float64
 15  aisle_id                     float64
 16  department_id                float64
dtypes: float64(11), int64(6)
memory usage: 1.1 GB

In [9]:
data_test.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 4833292 entries, (3, 248) to (206208, 49621)
Data columns (total 16 columns):
 #   Column                       Dtype
---  ------                       -----
 0   uxp_times_bought             int64
 1   uxp_reorder_ratio            float64
 2   uxp_last_five                float64
 3   uxp_ratio_last_five          float64
 4   u_num_of_orders              int64
 5   u_avg_prd                    float64
 6   dow_u_most_orders            int64
 7   hod_u_most_orders            int64
 8   u_reorder_ratio              float64
 9   average_days_between_orders  float64
 10  u_total_items_bought         int64
 11  p_num_of_times               int64
 12  p_reorder_ratio              float64
 13  p_avg_cart_position          float64
 14  aisle_id                     float64
 15  department_id                float64
dtypes: float64(10), int64(6)
memory usage: 631.6 MB

In [10]:
compression_opts = dict(method='zip',
                        archive_name='data_test.csv')  
data_test.to_csv(path+"data_test.zip",compression=compression_opts)

In [11]:
compression_opts = dict(method='zip',
                        archive_name='data_train.csv')  
data_train.to_csv(path+"data_train.zip",compression=compression_opts)